<div class="container mt-3">
    <div sm-4>
<form  [formGroup]="testform">
 


    <div formArrayName="mobileName">
      <div *ngFor="let m of testform.controls['mobileName']['controls']; let i=index">

       <div class="d-flex">
        Mobile:{{i+1}}  <input type="text" formControlName="{{i}}" placeholder="Enter Mobile Number" class="form-control">

        <button (click)="remove(i)">X</button>
       </div>

      </div>
       


  
      </div>
</form><br>


<button type="button" class="btn btn-primary" (click)="Add()">ADD</button>
</div>
</div>